 /*****************************app下载****************************/
 /*安卓下载引导页*/
.android_nav{ 
	width: 100%;
	height: 100%; 
	background: #fff; 
	position: relative;
} 
.logo_div{
	width: 100%;
	text-align: center; 
	padding-top: 1.98rem;
}
.logo_div h3{
	width: 100%;
	text-align: center;
	font-size: 0.42rem;
	color: #C71622;
}
.logo_div img{
	display: block;
	width: 1.68rem;
	margin: 0.16rem auto 0;
}
.logo_div h4{
	width: 100%;
	text-align: center;
	font-size: 0.32rem;
	color: #C71622;
	margin-top: 0.56rem;
}
.android_p{
	width: 100%;
	text-align: center;
	font-size: 0.24rem;
	color: #999;
	margin-top: 0.36rem;
} 

.android_version{
	width: 100%;
	text-align: center;
	font-size: 0.24rem;
	color: #282828;
	margin-top: 1.21rem;
}
.android_version span{
	color: #999999;
}
.android_download{
	display: block;
	width: 100%;
	margin-top: 0.37rem;
}
.android_download img{
	display: block;
	width: 4.2rem;
	margin: 0 auto;
}
.bj_01{
	display: block; 
	position: absolute;
	top: 0;
	right: 0;
	width: 2.7rem;
	height: 2.75rem;
}
.bj_02{
	display: block; 
	position: absolute;
	bottom: 0;
	left: 0;
	width: 2.7rem;
	height: 2.75rem;
}









/**************************商城|本地首页*****************************/
.seek{
	left: 0.3rem;
}
.main_1{
	overflow-x: hidden;
}
.shopping_cart{
	right: 0.3rem;
    width: 0.4rem;
    background: url(../../images/gwc.png) no-repeat right center;
    -webkit-background-size: 0.36rem;
    background-size: 0.36rem;
    text-indent: -9999px;
    position: absolute;
    top: 0.16rem;
}
/*商城首页-总导航*/
.mallIndex_navi{
	width: 100%;
	overflow: hidden;
}
.mallIndex_navi a{
	float: left;
	width: 25%;
	height: 1.54rem;
	text-align: center;
	background: #FFFFFF;
}
.mallIndex_navi a img{
	width: 0.86rem;
	height: 0.86rem;
	display: block;
	margin: 0 auto;
	padding-top: 0.2rem;
}

/*css3*/
/*.mallIndex_navi a:first-child img{
	-webkit-animation:slide .8s .4s;
	       animation:slide .8s .4s;
}
@-webkit-keyframes slide{
	from{
		-webkit-transform: rotateY(0deg);
	    transform: rotateY(0deg);
	}
	to{
		-webkit-transform: rotateY(360deg);
		transform: rotateY(360deg)
	}
}
.mallIndex_navi a:nth-child(2) img{
	-webkit-animation:slide 1s .6s;
	animation:slide 1s .6s;
}
.mallIndex_navi a:nth-child(3) img{
	-webkit-animation:slide 1s .8s;
	animation:slide 1s .6s;
}*/
.mallIndex_navi a p{
	display: block;
	font-size: 0.2rem;
	color: #575757;
	margin-top: 0.1rem;
}

/*合伙商*/
.partnerShip{
	width: 100%;
	height: auto;
	overflow: hidden; 
	font-size: 0;
	margin-top: 0.16rem;
}
.partnerShip a{
	float: left;
	width: 49.4%;
    height: 1.3rem;
    margin-bottom: 0.1rem;
}
.partnerShip_total a{
	float: left;
	width: 49.4%;
    height: 1.4rem;
    margin-bottom: 0.1rem;
}
.partnerShip a img{
	width: 100%;
	height: 100%;
}
.partnerShip a:nth-child(even){
    margin-left: 1.2%; 
}

/*商城首页-品质*/
.mallIndex_h3{
	clear: both;
	width: 100%;
	text-align: center;
	height: 0.6rem;
	line-height: 0.6rem;
	font-size: 0.24rem;
	color: #575757; 
}
.mallIndex_quality{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.mallIndex_quality_ul1{ 
	width:  100%;
}
.mallIndex_quality_ul1 a{ 
	width: 49.4%;
	height: 4.5rem;
	float: left;
}
.mallIndex_quality_ul1 a:nth-child(2){
	width: 49.4%;
    height: 2.2rem;
    float: right;
}
.mallIndex_quality_ul1 a:nth-child(3){
	width: 49.4%;
    height: 2.2rem;
    float: right;
    margin-top: 0.1rem;
}
.mallIndex_quality_ul1 a img{
	width: 100%;
	height: 100%;
}
.mallIndex_quality_ul2{
	float: left; 
	width:  49.4%;
}
.mallIndex_quality_ul2 a{
	display: block;
	width: 100%;
	height: 2.2rem;
}
.mallIndex_quality_ul2 a img{
	width: 100%;
	height: 100%;
}
.mallIndex_quality_ul2 .mallIndex_quality_ul2_a{
	margin-top: 0.1rem;
}
.mallIndex_quality_dif{
	margin-top: 0.1rem;
}
.mallIndex_quality_dif .mallIndex_quality_ul2{
	width:  100%;
}
.mallIndex_quality_ul2 a{
	width: 49.4%;
	height: 4.5rem;
	display: block;
} 
.mallIndex_quality_ul2 a:first-child{
	height: 2.2rem;
}
.mallIndex_quality_ul2 a:nth-child(2){
	height: 2.2rem;
	margin-top: 0.1rem;
}
.mallIndex_quality_ul2 a:nth-child(3){
	float: right;
	margin-top: -4.5rem;
}

/*商城首页-未来生活*/
.mallIndex_life{
	clear: both;
	width: 100%;
	min-height: 3.4rem;
	height: auto;
	padding-bottom: 0.1rem;
}
.mallIndex_life li{
	float: left;
	width:  49.4%;
	min-height: 3.4rem;
	height: auto;
	padding-bottom: 0.1rem;
	background: #FFFFFF;
}
.mallIndex_life li a{
	display: block;
}
.mallIndex_life li img{
	display: block;
	width: 100%;
	height: 2.03rem;
}
.mallIndex_life .mallIndex_life_li1{
	margin-left: 1.2%;
}
.mallIndex_life li p{
	font-size: 0.24rem;
	padding: 0 0.16rem;
	width: 80%;
	color: #282828;
	margin-top: 0.2rem;
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.mallIndex_life li font{
	display: block;
	font-size: 0.2rem;
	padding: 0 0.16rem;
	width: 80%;
	color: #8D8D8D;
	margin-top: 0.1rem;
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.mallIndex_life li dt{
	padding: 0 0.16rem;
	width: 2.83rem;
}
.mallIndex_life li dt em{
	font-size: 0.28rem;
	float: left;
	color: #F3001D;
	font-style: normal;
}
.mallIndex_life li dt a{
	font-size: 0.2rem;
	float: right;
	width: 0.88rem;
	text-align: center;
	height: 0.36rem;
	line-height: 0.36rem;
	color: #F3001D; 
	background: #fef2f3;
	border-radius: 0.03rem;
	margin-top: 0.06rem;
}
.mallIndex_life_ul{
	margin-top: 0.2rem;
}

/*商城首页-广告*/
.mallIndex_ad{
	display: block;
	clear: both;
	width: 100%;
	height: 1.6rem; 
	margin-bottom: 0.1rem;
}
.mallIndex_ad img{
	width: 100%;
	height: 100%;
}

/*商城首页-商品列表*/
.mallIndex_list{
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-top: 0.16rem;
}
.mallIndex_list a{
	float: left;
	width:  49.4%;
	height: 2.48rem;
	position: relative;
	margin-bottom: 0.1rem;
}
.mallIndex_list a:nth-child(even){
  margin-left: 1.2%;
}
.mallIndex_list a img{
	width: 100%;
	height: 100%;
}
.mallIndex_list .mallIndex_list_a{
	/*margin-left: 0.1rem;*/
}
.mallIndex_list a h4{
	position: absolute;
	z-index: 4;
	left: 0.16rem;
	top: 0.2rem;
	width: 2.83rem;
	font-size: 0.24rem;
	color: #282828;
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.mallIndex_list a p{
	position: absolute;
	z-index: 4;
	left: 0.16rem;
	top: 0.54rem;
	width: 2.83rem;
	font-size: 0.2rem;
	color: #999;
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.mallIndex_list a font{
	position: absolute;
	z-index: 4;
	left: 0.16rem;
	top: 0.94rem;
	width: 2.83rem;
	font-size: 0.28rem;
	color: #F3001D;
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

 


  
/*商城首页轮播图*/
.mallIndex_img{
	width: 6.4rem;
	height: 4.27rem;
	overflow: hidden;
}
.mallIndex_img img{
	width: 100%;
	height: 4.27rem;
} 
.main_visual{
	width: 6.4rem;
	height: 4.27rem;
	overflow: hidden;
}
.main_image{
	width: 6.4rem;
	height: 42.7rem;
	overflow: hidden;
}
#main_image_ul{
	width: 100%;
	height: 4.27rem;
	overflow: hidden !important;
}
div.flicking_con{
	position:absolute;
	top:360px;
	left:50%;
	z-index:999;
	width:300px;
	height:21px;
	margin:0 0 0 -50px;
}
div.flicking_con a{
	float:left;
	width:21px;
	height:21px;
	margin:0;
	padding:0;
    display:none;
    background:url('../images/btn_main_img.png') 0 0 no-repeat;
    display:block;
    text-indent:-1000px;  
}
/*div.flicking_con a.on{display:block} 
#btn_prev,#btn_next{
	z-index:11111;
	position:absolute;
	display:block;
	width:73px!important;
	height:74px!important;
	top:50%;
	margin-top:-37px;
	display:none;
} 
 #btn_prev{background:url(../images/hover_left.png) no-repeat left top;left:100px;}
#btn_next{background:url(../images/hover_right.png) no-repeat right top;right:100px;} 
 .ddd{
	position: absolute;
	background: red;
	left:0;
	top:0;
	z-index: 1;
	width:100%; 
}*/ 
.main_image{
	z-index: 1
}
 
.main_image ul{
	position: absolute;
	z-index: 11
}
.sss{
	position:relative;
	width:1000px;
	margin: 0 auto ;
	background: red;
	z-index: 22222
}
.ccc{
	position: absolute;
	width:100px;
	height:100px;
	background: red;
	right:0;
}
/*秒杀专场*/
.cl_center ul{
	overflow-x: hidden;
	float: left;
	width: 100%; 
	height: 6.2rem;
	background: #FFFFFF;
	margin-bottom: 0.1rem;
} 
.cl_center li{
	width: 100%;
	height: 2rem;
	float: left;
	/*padding: 0.2rem 0.16rem;
	border-bottom:1px solid #D4D4D4 ;*/
}
.cl_center li:first-child{
	margin-bottom: 0.1rem;
}
.cl_center li:nth-child(2){
	margin-bottom: 0.1rem;
}
.cl_center li a{
	width: 100%;
	height: 2rem; 
}
.cl_center li img{
	width: 100%;
	height: 2rem;
	float: left;
} 
/*大的广告区域*/
.cl_center_1{
	width: 100%;
	overflow: hidden;
}
.cl_center_1 ul{
	overflow-x: hidden;
	float: left;
	width: 100%; 
	height: auto;
	background: #FFFFFF;
} 
.cl_center_1 a{ 
	margin-top: 0.16rem;
	width: 100%;
	height: 2rem;
	float: left; 
} 
.cl_center_1 a img{
	width: 100%;
	height: 100%;
	float: left;
} 
/*.cl_center .miaosha{
	position: absolute; 
	top: 0;
	right: 0;
	display: block;
	width: 0.84rem;
	height: 0.84rem;
	z-index: 999;
}
.cl_center li .cl_center_right{
	width: 60%;
	height: 100%;
	float: left;
	margin-left:0.1rem ;
}
.cl_center_right p:nth-of-type(1){
	font-size: 0.24rem;
	width: 100%;
	height: 0.6rem;
	float: left;
	margin-top: 0.1rem;
	line-height: 0.38rem;
	color: #282828;
	overflow: hidden;
 	text-overflow: ellipsis;
 	display: -webkit-box;
 	-webkit-line-clamp: 2;
 	-webkit-box-orient: vertical;
}
.cl_center_right .cl_center_rig_p2{
	width: 100%;
	height:auto;
	float: left;
	margin-top:0.5rem ;
	font-size: 0;
}
.cl_center_rig_p2 span{
	font-size: 0.3rem;
	color: #F3001D;
}
.cl_center_rig_p2 span:nth-of-type(2){
	font-size:0.24rem ;
	margin-left:0.12rem ;
	margin-top:0.08rem ;
}
.cl_center_rig_p2 button{
	width: 1.2rem;
	height: 0.38rem;
	border-radius:10px ;
	background: #f01c1b;
	color: #ffffff;
	text-align: center;
	line-height: 0.38rem;
	font-size: 0.2rem;
	float: right;
} 
.cl_center_right .cl_center_rig_p3{
	width: 100%;
	height:auto;
	float: left;
	margin-top:0.5rem ;
	font-size: 0;
}
.cl_center_rig_p3 span{
	font-size: 0.3rem;
	color: #12aca0;
}
.cl_center_rig_p3 span:nth-of-type(2){
	font-size:0.24rem ;
	margin-left:0.12rem ;
	margin-top:0.08rem ;
}
.cl_center_rig_p3 button{
	width: 1.2rem;
	height: 0.38rem;
	border-radius:10px ;
	background: #12aca0;
	color: #ffffff;
	text-align: center;
	line-height: 0.38rem;
	font-size: 0.2rem;
	float: right;
}*/






/****************************未来生活首页****************************/ 
.life_index{
	height: 4.68rem;
	font-size: 0; 
}
.life_index a{
	float: left;
	width: 100%;
	height: 3.15rem;
	position: relative;
}
.life_index a img{
	width: 100%;
	height: 100%;
}
.life_index li p{
	padding-top: 0.2rem;
}
.life_index .life_index_em{
	display: block;
	padding: 0 0.16rem;
    width: 80%;
    font-size: 0.28rem;
	color: #12aca0;
	font-style: normal;
	margin-top: 0.1rem;
}
.life_index ol{
	padding: 0 0.16rem;
    width: 88%; 
    margin-top: 0.1rem;
}
.life_index li ol span{
	font-size: 0.2rem;
	color: #848484;
}
.life_index li ol strong{
	font-size: 0.16rem;
	color: #848484;
	font-weight: 200;
	float: right;
}
.life_index li ol i{
	font-style: normal;
	color: #282828;
}
 
/*地址切换*/
.site{
	position: absolute;
	top: 0.2rem;
	right: 0.3rem;
	color: #FFFFFF;
	font-size: 0.26rem;
}
.site span{
	color: #FFFFFF;
}



















